# Core dependencies
flask==3.0.2
flask-cors==4.0.0
onnxruntime==1.17.0
numpy==1.26.4

# Development dependencies (not needed for deployment)
# pandas==1.4.0
# scipy==1.7.3
# scikit-learn==1.5.1
# tensorflow==2.7.0
# onnx==1.10.1
# skl2onnx==1.14.1
